%button {
  background: $primary;
  border: 0;
  color: $text !important;
  margin-bottom: 12.5px;
  margin-top: 12.5px;
  padding: 10px 28px;
  font-size: 14px;

  &:hover{
    text-decoration: none;
    background-color: $secondary;
    transition: background 0.8s;
  }

  &:focus {
    background-color: $primary;
    transition: background 0.8s;
  }
}

button {
  @extend %button;
}

.button {
  // @extend %button;
}
