header {
  align-items: center;
  background: $primary;
  box-shadow: 0 0 10px $shadow;
  display: flex;
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;

  h1 {
    margin-left: 25px;
  }

  h4 {
    a {
      color: $text;

      &:hover {
        text-decoration: none;
        color: $text;
      }
    }
  }
}

.color-label
{
  display: block;
  margin-bottom: 0px;
}
