header {
  align-items: center;
  background: $primary;
  box-shadow: 0 0 7px $shadow;
  display: flex;
  height: 100px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    margin-left: 25px;
  }
}
