.loader-container {
  height: 100%;
  min-height: 200px;
  width: 100%;
}

.loader {
  display: block;
  left: 50%;
  min-height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
