.visual {
  min-height: calc(100vh - 150px);
  overflow: hidden;
  position: relative;
  width: 100%;

  .intro {
    text-align: center;
  }
}

.leftrightwrapper {
  margin: 0 0 15px;

  > label {
    display: block;
  }
}

.color-wrapper {
  margin-bottom: 10px;

  > input[type='text'] {
    margin-bottom: 0;
  }
}
