svg.donut {
  width: 100%;
  max-height: 100%;

  .arc text{
    text-anchor: middle;
  }

  .arc path {
    // stroke: $white;
  }

  text.hovertext
  {
    font-size: 12px;
    font-family: Ariel, serif;
    fill: #FFFFFF;
    color: #FFFFFF;
    stroke: #000000;
    stroke-width: 1px;
    stroke-linejoin: round;
    /*
    fill: #FFFFFF;
    //text-shadow: 0px 0px 5px #000;
    pointer-events: none;
    -webkit-text-stroke: 15px black;
    */
  }
}

.visual-title {
  word-wrap: break-word;
  text-align: center;
}

.row{
  margin: 0;
}
