svg.donut {
  width: 100%;
  max-height: 100%;

  .arc text{
    text-anchor: middle;
  }

  .arc path {
  }

  text.hovertext
  {
    pointer-events: none;
    stroke-width: 1px;
    stroke-linejoin: round;
  }
  text.alwaystext
  {
    stroke-width: 1px;
    stroke-linejoin: round;
    opacity: .99;
  }
}

.visual-title {
  word-wrap: break-word;
  text-align: center;
}

.row{
  margin: 0;
}
