body {
  background-color: $background;
}

.controls, .visual, .intro, .key, .majorSelect {
  position: relative;
  min-height: 1px;
}

/*
.majorSelect {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}
*/

.row {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
}

.graphTitle {
  visibility: hidden;
  margin-top: 0;
}

.visual {
  margin: 1% 1% 2% 1%;
}

.intro {
  text-align: center;
  font-size: 2em;
  height: auto;
  margin: 0 0 0 0;
}

.visual-title, .visual-description {
  display: inline-block;
  line-height: 1;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
}

.key {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.visual-title {
  margin: 0 1% 2% 1%;
}

.visual-description {
  margin: 2% 1% 2% 1%;
}

.column1 {
  display: flex;
  flex: 0 0 23.5%;
  width: 23.5%;
  height: 77%;
  flex-direction: column;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.column2 {
  display: flex;
  flex: 0 0 73.5%;
  flex-direction: column;
  width: 73.5%;
  height: 77%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.visualColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  /*
  position: sticky;
  position: -webkit-sticky;
  top: 1px;
  */
}
