.body {
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  background-color: $background;
}

.controls, .visual, .intro, .key, .majorSelect {
  position: relative;
  min-height: 1px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.controls {
  //max-height: 100%; //calc(100vh - 125px);
  overflow-y: visible;
}

.visual {
  //width: 96%;
  margin: 2% 2% 5% 2%;
}

.intro {
  text-align: center;
  font-size: 2em;
}

.visual-title, .visual-description {
  display: inline-block;
  line-height: 1;
  width: 100%;
}

.visual-title {
  margin: 0 1% 2% 1%;
}

.visual-description {
  margin: 2% 1% 2% 1%;
}

.column1 {
  flex: 0 0 23.5%;
  max-width: 23.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.column2 {
  display: flex;
  flex: 0 0 73.5%;
  flex-direction: column;
  max-width: 73.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.visualColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
  /*
  position: sticky;
  position: -webkit-sticky;
  top: 1px;
  */
}
