body {
  font-family: 'Roboto', sans-serif;
}

footer {
  font: {
    size: .9em;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  color: $text;
}

h1 {
  font: {
    family: 'Roboto', sans-serif;
    size: 3em;
  }

  a {
    color: $text;
    text-decoration: none;

    &:hover {
      color: $text;
      text-decoration: none;
    }
  }
}

h2 {
  font-size: 2.5em;
}
