@font-face {
  font-family: 'Gilroy';
  src: url(../font/Gilroy-Regular.eot);
  src: url(../font/Gilroy-Regular.eot#iefix) format('embedded-opentype'),
      url(../font/Gilroy-Regular.woff2) format('woff2'),
      url(../font/Gilroy-Regular.woff) format('woff'),
      url(../font/Gilroy-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
}

footer {
  font: {
    size: .9em;
  }
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p{
  color: $text;
}

h1 {
  font: {
    size: 3em;
  }


  a {
    color: $text;
    text-decoration: none;

    &:hover {
      color: $text;
      text-decoration: none;
    }
  }
}

h2 {
  font-size: 2.5em;
}
